body {
    background-color: crimson;
    background-image: url(../images/architecture-bridge.jpg);
    background-size: cover;
}


header {


    width: 700px;

    border: 1px black dotted;
    margin-left: auto;
    margin-right: auto;
    background-color: white;


}

main {
    width: 700px;

    border: 1px black dotted;
    margin-left: auto;
    margin-right: auto;
    background-color: white
}

footer {
    width: 700px;
    background-color: white;

    border: 1px black dotted;
    margin: 0 auto;
}

h1 {
    color: darkcyan;
    font-family: Georgia, serif;
    font-size: 48px;
    
}

p {
    font-size: 36;
    font-family: "Arial", sans-serif;
    color: chocolate;
    
}

a {
    
    font-size: 36px;
    font-family: "Arial", sans-serif;
    color: chocolate
        
}

a:link {
    color: coral;
}

a:visited {
    color: fuchsia;
    
}

a:hover {
    color: red;
    
}

a:active {
    color: yellow'
        
}

li {
    
}

        
